:root {
    /* Colors */
    --color-text: #2b2b2b;
    --color-primary: #aa7e9f;
    --color-secondary: #1a1a1a;
    --color-dark: #b8a57f;
    --color-bg: #fafafa;

    /* Fonts */
    --font-family: "Inter", sans-serif;
}
